<!-- Navbar  -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img ngSrc="assets/images/logo.png" width="400" height="200" priority alt="Logo" class="logo" 
            appScrollListener (isScrolled)="onScrolled($event)"
            [ngClass]="{'logo-large': !scrolled, 'logo-small': scrolled}">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#" appHoverFocus="active-hover">Home</a>
          <a class="nav-link active" href="#media" appHoverFocus="active-hover">Media</a>
          <a class="nav-link active" href="#" appHoverFocus="active-hover">Join</a>
          <a class="nav-link" href="#" appHoverFocus="bi-hover"><i class="bi bi-twitter-x"></i></a>
          <a class="nav-link" href="#" appHoverFocus="bi-hover"><i class="bi bi-tiktok"></i></a>
          <a class="nav-link" href="#" appHoverFocus="bi-hover"><i class="bi bi-instagram"></i></a>
          <a class="nav-link" href="#" appHoverFocus="bi-hover"><i class="bi bi-discord"></i></a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Banner Image  -->
  <div
    class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
  >
    <div class="content text-center">
      <h1 id="title">
        JOIN OUR <span>EPIC</span><b id="cursor" [ngClass]="{'blink': shouldBlink}">_</b> ADVENTURE!<br>
      </h1>
    </div>
  </div>

  <!-- Main Content Area -->
  <!-- TODO a mettre dans un composant à part -->
  <div class="container my-5 d-grid gap-5" id="media">
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi. df
      </p>
    </div>
  </div>