<div class="container my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 id="game-title" class="bold" #gameTitle>___ ____</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-3 background-black text-start fs-4" id="description-fauneroes">
        &nbsp;&nbsp;&nbsp;&nbsp;Fauneroes is <span class="bold">Tactical-RPG Indie Game</span> taking place in a 
        fantasy forest world populated with cute animals.
        Explore the world with endless charming stories, 
        recruit new allies, and overcome tactical challenges.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;The game is currently in development for PC, aiming 
        at starting a <span class="bold">kickstarter campaign in summer 2024.</span>
      </div>
    </div>
  </div>

  
