<div class="container my-5" id="game">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 id="game-title" #gameTitle>___ ____</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-3 background-black text-start fs-4" id="description-fauneroes">
        Fauneroes is Tactical-RPG Indie Game taking place in a 
        fantasy forest world populated with cute animals.
        Explore the world with endless charming stories, 
        recruit new allies, and overcome tactical challenges.<br><br>
        The game is currently in development for PC, aiming 
        at starting a kickstarter campaign in summer 2024.
      </div>
    </div>
  </div>

  
