.parallax-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
 }

 .layer-1,
 .layer-2,
 .layer-3,
 .layer-4 {
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.layer-1 {
    background-image: url('../../../assets/images/Squirrel_Artwork_Layer_0.webp');
}

.layer-2 {
    background-image: url('../../../assets/images/Squirrel_Artwork_Layer_1.webp');
}

.layer-3 {
    background-image: url('../../../assets/images/Squirrel_Artwork_Layer_2.webp');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.layer-4 {
    background-image: url('../../../assets/images/Squirrel_Artwork_Layer_3.webp');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.layer-5 {
    z-index: 5;
}

.logo-large {
    width: 400px;
    height: auto;
}

.logo-small {
    width: 300px;
    height: auto;
}

/* Pour les écrans de taille moyenne */
@media (max-width: 992px) {
    .logo-large {
        width: 300px;
        height: auto;
    }
    
    .logo-small {
        width: 250px;
        height: auto;
    }
}

/* Pour les écrans de taille petit */
@media (max-width: 500px) {
    .logo-large {
        width: 200px;
        height: auto;
    }
    
    .logo-small {
        width: 170px;
        height: auto;
    }
}

img.logo {
    transition: all 0.5s ease; 
    z-index: 100;
}

.nav-link {
    font-size: 1.25rem;
}

.active-hover {
    color: rgba(255, 255, 255, 0.7) !important;
}

@media (max-width: 992px) {
    .navbar-collapse {
        text-align: right;
    }
    .nav-link {
        max-width: 95%;
    }
}

h1 span, h1 b{
    color:rgb(169, 121, 10);
}

h1 {
    color: black;
    font-family: 'signika-bold', sans-serif;
}

.blink {
    visibility: hidden;
}

@media (min-width: 992px) {
    .navbar-nav {
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }
}

@media (max-width: 992px) {
    .navbar-toggler {
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }
}

a {
    font-family: 'signika-bold', sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
