<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container-fluid">
    <div class="navbar-brand"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-nav-scroll ms-auto">
        <div class="nav-link active"><a aria-current="page" href="#" appHoverFocus="active-hover">Home</a></div>
        <div class="nav-link active"><a href="#about" appHoverFocus="active-hover">About</a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="active-hover">Features</a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="active-hover">Media</a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="active-hover">FAQ</a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="active-hover">Join</a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="bi-hover"><i class="bi bi-twitter-x"></i></a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="bi-hover"><i class="bi bi-tiktok"></i></a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="bi-hover"><i class="bi bi-instagram"></i></a></div>
        <div class="nav-link active"><a href="#" appHoverFocus="bi-hover"><i class="bi bi-discord"></i></a></div>
      </div>
    </div>
  </div>
</nav>

@if (this.screenWidth > 992) {
  <div class="container-fluid parallax-container">
    <div class="row">
      <div class="col layer-1 header-image">
        <img src="assets/images/Squirrel_Artwork_Layer_0.webp" alt="Layer 1" class="img-fluid">
      </div>
      <div class="col layer-2">
        <img src="assets/images/Squirrel_Artwork_Layer_1.webp" alt="Layer 2" class="img-fluid">
      </div>
      <div class="col layer-3">
        <img src="assets/images/Squirrel_Artwork_Layer_2.webp" alt="Layer 3" class="img-fluid">
      </div>
      <div class="col layer-4">
        <img src="assets/images/Squirrel_Artwork_Layer_3.webp" alt="Layer 4" class="img-fluid">
      </div>
      <div class="col layer-5">
        <picture>
          <source media="(min-width: 992px)" srcset="assets/images/Squirrel_Artwork_Layer_LogoSmall.png">
          <source media="(max-width: 992px)" srcset="assets/images/Squirrel_Artwork_Layer_LogoLarge.png">
          <img src="assets/images/Squirrel_Artwork_Layer_LogoSmall.png" alt="Layer 5" class="img-fluid">
        </picture>
      </div>
    </div>
  </div>
} @else {
  <div class="container-fluid parallax-container">
    <div class="row">
      <div class="col header-image">
        <img src="assets/images/Squirrel_Artwork_WithLargeLogo.png" alt="Header image" class="img-fluid">
      </div>
    </div>
  </div>
}