@font-face {
    font-family: 'sherwood';
    src: url('assets/fonts/sherwood.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'signika';
    src: url('assets/fonts/Signika-Bold.ttf') format('truetype');
}

body {
    font-family: 'signika', sans-serif;
    background-color: rgb(112, 94, 86);
    color: white;
}

.bi {
    color: rgb(245, 190, 66);
}

.bi-hover {
    color: rgba(245, 191, 66, 0.7) !important;
}
