@font-face {
    font-family: 'signika-bold';
    src: url('assets/fonts/Signika-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'signika-light';
    src: url('assets/fonts/Signika-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'signika-semi-blold';
    src: url('assets/fonts/Signika-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'signika-light', sans-serif;
    background-color: #D9C8B4;
    color: #401A0C;
}

.bi {
    color: rgb(245, 190, 66);
}

.bi-hover {
    color: rgba(245, 191, 66, 0.7) !important;
}
