@font-face {
    font-family: 'sherwood';
    src: url('assets/fonts/sherwood.ttf') format('truetype');
}

body {
    font-family: 'sherwood', sans-serif;
    background-color: rgb(112, 94, 86);
    color: white;
}
